* {
  font-family: "Dosis", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
}

.main {
  height: 40vh;
  width: 50%;
  box-shadow: rgba(52, 51, 51, 0.25) 0px 50px 100px -20px,
    rgba(51, 49, 49, 0.3) 0px 30px 60px -30px,
    rgba(50, 48, 48, 0.35) 0px -2px 6px 0px inset;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 100px;

  /* background-color: black; */
}
p.content {
  margin-top: 0;
  padding-top: 0;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  /* color: rgb(201, 198, 198); */
}
img {
  width: 100px;
  height: 100px;
}
.App {
  /* text-align: center; */
  height: 40%;
  width: 40%;
  /* border: 2px solid red; */
  /* box-shadow: 10px 10px 40px rgb(136, 120, 120); */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header {
  /* border: 2px solid red; */
  width: auto;
  height: auto;
  display: inline-block;
  margin-top: 29px;
}
.App h1 {
  padding: 0;
  /* padding-top: 10px; */
  /* border: 2px solid red; */
  margin: 0;
  display: inline;
  margin-right: auto;
}
body {
  background-color: #282c34;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img.loading {
  display: block;
  /* margin: auto; */
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(2, 15, 26);
  color: blue;
}
h1 {
  color: black;
}
.content .email {
  padding-bottom: 20px;
}
h4 {
  /* color: whitesmoke; */
  /* display: inline-block; */
  color: black;
  text-align: center;
  margin-top: 0;
  text-decoration: none;
  /* margin: 0 auto; */
}
.user {
  text-align: center;
  cursor: pointer;
  /* box-shadow: 3px 1px 10px #ed54ea; */
  /* border: 2px solid rgb(199, 213, 110); */
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(129, 117, 117, 0.15) 0px -36px 30px 0px inset,
    rgba(149, 140, 140, 0.1) 0px -79px 40px 0px inset,
    rgba(202, 193, 193, 0.06) 0px 2px 1px, rgba(149, 143, 143, 0.09) 0px 4px 2px,
    rgba(29, 20, 20, 0.09) 0px 8px 4px, rgba(62, 62, 62, 0.09) 0px 16px 8px,
    rgba(50, 46, 46, 0.09) 0px 32px 16px; */
  box-shadow: rgba(52, 51, 51, 0.25) 0px 50px 100px -20px;

  margin-bottom: 20px;
}
.user:hover {
  transform: translateY(-20px);
  /* box-shadow: rgba(52, 51, 51, 0.25) 0px 50px 100px -20px,
    rgba(51, 49, 49, 0.3) 0px 30px 60px -30px,
    rgba(50, 48, 48, 0.35) 0px -2px 6px 0px inset; */
  box-shadow: rgba(160, 135, 23, 0.25) 0px 50px 100px -20px,
    rgba(116, 126, 47, 0.3) 0px 30px 60px -30px;
}
img.card {
  margin-top: 20px;
}
.load {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.users {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

body {
  background-color: white;
}
.users .user {
  margin-right: 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.content span {
  color: black;
  display: block;
  margin-bottom: 10px;
}

.user {
  border-radius: 25px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .App img {
    width: 0px;
    height: 0px;
  }
  .users {
    /* background-color: black; */
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}
h1.home {
  text-align: center;
}
